:root {
  --whiteColor: #fff;
  --bcPrimery: #2b2b2b;
  --bcSecondary: #3b3b3b;
  --greyColor: #cccccc;
  --labelText: #858584;
  --violetColor: #a259ff;
  --blueColor: #377df7;
  --redColor: #ff7262;
  --margin: 30px;
  --borRad: 20px;
  --paddingSection-desktop: 80px 115px;
  --paddingSection-tablet: 40px 72px;
  --paddingSection-mobile: 40px 30px;
  --clock-gradient: linear-gradient(to bottom, #a159ff00 0%, #a159ff 100%);
  --secondary-gradient: linear-gradient(to bottom, #a159ff65, #377df780);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  font-family: Work Sans;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100vh;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Work Sans;
}

input,
button,
textarea {
  border: none;
  outline: none;
  background: inherit;
}

img,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  color: var(--whiteColor);
  width: 32px;
  height: 32px;
}

*,
*::before,
*::after {
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.container {
  color: var(--whiteColor);
  margin: 0 auto;
  padding: var(--paddingSection-mobile);
}

@media (min-width: 768px) {
  .container {
    max-width: 840px;
    padding: var(--paddingSection-tablet);
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1366px;
    padding: var(--paddingSection-desktop);
  }
}
body {
  background-color: var(--bcPrimery);
}

nav {
  padding: 15px 30px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--whiteColor);
}
.logo .logo-accent {
  color: var(--violetColor);
  font-size: 20px;
  font-weight: 900;
}

.burger-trigger {
  background-color: var(--violetColor);
  padding: 10px;
  border-radius: 5px;
  color: var(--bcPrimery);
}

.bi-list {
  height: 32px;
  width: 32px;
}

.NavigationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ListBurger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.ListBurger li {
  color: var(--whiteColor);
  cursor: pointer;
}
.ListBurger li:last-child {
  background-color: var(--violetColor);
  border-radius: var(--borRad);
}
.ListBurger li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 18px 20px;
}
.ListBurger li a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.ListBurger li:last-child .Btn {
  background-color: var(--violetColor);
  border-radius: var(--borRad);
  color: var(--whiteColor);
  padding: 12px 20px;
}

.popover {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1000;
  background-color: var(--bcSecondary);
  backdrop-filter: blur(10px);
}

.popoverclose {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--whiteColor);
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  border: 1.5px solid var(--violetColor);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.ListDesktop {
  display: none;
}

.popover.is-hidden {
  display: none;
}

@media (min-width: 768px) {
  .popover {
    width: 50%;
    padding: 0 50px 100px;
    right: 0;
    left: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    border-radius: var(--borRad);
  }
}
@media (min-width: 1024px) {
  .burger-trigger {
    display: none;
  }
  .ListDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  .ListDesktop li {
    list-style: none;
  }
  .ListDesktop a,
  .ListDesktop .Btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    color: var(--whiteColor);
    padding: 12px 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .ListDesktop li:last-child .Btn {
    background-color: var(--violetColor);
    border-radius: var(--borRad);
  }
  .ListDesktop li:last-child .Btn:hover,
  .ListDesktop li:last-child .Btn:focus,
  .ListDesktop li:last-child .Btn:active {
    background-color: var(--bcSecondary);
    outline: 2px solid var(--violetColor);
    -webkit-box-shadow: 0 0 10px var(--whiteColor);
            box-shadow: 0 0 10px var(--whiteColor);
  }
  .ListDesktop a svg {
    width: 24px;
  }
}
.Btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--whiteColor);
  overflow: hidden;
  gap: 12px;
  padding: 19px 50px;
  background-color: var(--violetColor);
  border-radius: var(--borRad);
}
.Btn svg {
  width: 20px;
  height: 20px;
}

.HeaderBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  line-height: 1.4;
}
.HeaderBox h1 {
  font-family: Work Sans;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

@-webkit-keyframes rocketUp {
  from {
    scale: 0.5;
    -webkit-transform: translateY(70px) translateX(-70px);
            transform: translateY(70px) translateX(-70px);
  }
  50% {
    scale: 0.9;
    -webkit-transform: translate(0px) translateX(0px);
            transform: translate(0px) translateX(0px);
  }
  to {
    scale: 1.3;
    -webkit-transform: translateY(-40px) translateX(40px);
            transform: translateY(-40px) translateX(40px);
  }
}

@keyframes rocketUp {
  from {
    scale: 0.5;
    -webkit-transform: translateY(70px) translateX(-70px);
            transform: translateY(70px) translateX(-70px);
  }
  50% {
    scale: 0.9;
    -webkit-transform: translate(0px) translateX(0px);
            transform: translate(0px) translateX(0px);
  }
  to {
    scale: 1.3;
    -webkit-transform: translateY(-40px) translateX(40px);
            transform: translateY(-40px) translateX(40px);
  }
}
.TotalArtists ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--margin);
}
.TotalArtists ul li p {
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .Showed {
    display: none;
  }
}
@media (min-width: 768px) {
  .Hidden {
    display: none;
  }
  .HeaderContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margin);
  }
  .HeaderBox {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    gap: 20px;
  }
  .HeaderBox h1 {
    font-size: 38px;
    line-height: 1.2;
  }
  .Btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .TotalArtists ul li {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}
@media (min-width: 1280px) {
  .HeaderBox {
    gap: var(--margin);
    letter-spacing: 1px;
  }
  .HeaderBox h1 {
    font-size: 67px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .HeaderBox p {
    font-size: 22px;
  }
  .Btn:hover {
    outline: 2px solid var(--violetColor);
    background-color: var(--bcSecondary);
  }
  .AnimationSvg svg {
    -webkit-animation: rocketUp 3000ms linear infinite;
            animation: rocketUp 3000ms linear infinite;
  }
}
.HeaderCard {
  background-color: var(--bcSecondary);
  border-radius: 20px 20px 20px 20px;
}

.CardImage {
  width: 100%;
}

.CardName {
  padding: 22px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.CardName h5 {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
}

.CardImage {
  width: 100%;
}

.AvatarCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Space Mono;
  gap: 12px;
}
.AvatarCard img {
  width: 24px;
  height: 24px;
}

.AvatarPrice {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.AvatarPrice div:last-child {
  text-align: right;
}
.AvatarPrice div p:first-child {
  color: var(--labelText);
  margin-bottom: 8px;
}

.TitleBox {
  margin-bottom: 40px;
}
.TitleBox h4 {
  font-size: 28px;
  margin-bottom: 10px;
}

.TrendingCardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--margin);
}

.PrimaryCard {
  margin-bottom: 15px;
}

.TrendingImageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.TrendingImageList li {
  width: 95px;
  height: 95px;
  background-color: var(--violetColor);
  border-radius: var(--borRad);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.TrendingImageList li span {
  font-family: Space Mono;
  font-weight: 700;
}

.TabletCard,
.DesktopCard {
  display: none;
}

@media (min-width: 768px) {
  .PrimaryCard {
    width: 330px;
  }
  .TabletCard {
    display: block;
  }
}
@media (min-width: 1280px) {
  .DesktopCard {
    display: block;
  }
}
.Nopadding {
  padding: 22px 0px 0px;
}/*# sourceMappingURL=index.css.map */